<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <h2 class="banner">
      <a href="https://itunes.apple.com/us/app/bike-tag-photo-game/id1023813385">
        Get Bike Tag in the App Store!
      </a>
    </h2>
    <div class="banner-spacer"></div>

    {{ content }}

    <div class="footer">
      <ul>
        <li>
          <a href="/privacy">
            Privacy Policy
          </a>
        </li>
        <li>
          <a href="http://jackpine.me">
            Contact Us
          </a>
        </li>
        <li>
          Made with ♥ in Los Angeles.
        </li>
      </ul>
    </div>

  </body>

</html>
